@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
  }

  body {
    @apply bg-brand-bg text-white min-h-screen antialiased;
  }

  a {
    @apply text-brand-orange hover:text-brand-orangeLight no-underline;
  }
}
